.project
.classpath
*.iml
*.idea
*.iws
*Db.properties
*Db.script
.settings
eclipse
stacktrace.log
target
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
NMC09013_Batch01_NotTG_Blanks.txt
NMC09013_Batch01_TGCE_Blanks.txt